#logged {
	top: 10px;
	right: 26px;
	position: fixed;
}

#logout {
	position: fixed;
	right: 20px;
	top: 35px;
}

#logout a {
  text-decoration: none;
}
#infoUname {
	position: fixed;
	list-style-type: none;
}
